<div>
	<div class="agilefooterwthree" id="agilefooterwthree">
		<div class="container text-white">
			<div class="row agilefooterwthree-grids">

				<div class="col-6 col-md-3 agilefooterwthree-grid agilefooterwthree-grid1 text-center">
					<h4 class="text-center">Kantor Pusat</h4>
					<ul>
						<li>Dream House</li>
						<li>Jalan Matraman No 7</li>
						<li>Kebon Manggis, Matraman</li>
						<li>Jakarta Timur</li>
						<li>(021) 21381090, (021) 21381091</li>
						<li>08119333000, 08170033300</li>
						<li><a class="mail" href="mailto:info@dreamtour.co">info@dreamtour.co</a></li>
					</ul>
				</div>

				<div class="col-6 col-md-3 agilefooterwthree-grid agilefooterwthree-grid2 text-center">
					<h4 class="text-center">Dream Tour Surabaya</h4>
					<address>
						<ul>
							<li>Gedung Intiland Surabaya</li>
							<li>1st Floor, Suite 12</li>
							<li>Jl. Panglima Sudirman 101-103</li>
							<li>Surabaya, Jawa Timur</li>
							<li>031 5359666, 031 5359555</li>
							<li>08113215544, 0818321554</li>
							<li><a class="mail" href="mailto:surabaya@dreamtour.co">surabaya@dreamtour.co</a></li>
						</ul>
					</address>
				</div>

				<div class="col-6 col-md-3 agilefooterwthree-grid agilefooterwthree-grid3 text-center">
					<h4 class="text-center">Dream Tour Bandung</h4>
					<address>
						<ul>
							<li>Gedung Graha Selaras</li>
							<li>Jl. Asia Afrika No.129</li>
							<li>Kb. Pisang, Kec. Sumur Bandung</li>
							<li>Kota Bandung, Jawa Barat</li>
							<li>40112</li>
							<li>0812 9576 1604</li>
							<li><a class="mail" href="mailto:bandung@dreamtour.co.id">bandung@dreamtour.co.id</a></li>
						</ul>
					</address>
				</div>

				<div class="col-6 col-md-3 agilefooterwthree-grid agilefooterwthree-grid4 text-center">
					<h4 class="text-center">Dream Tour Palembang</h4>
					<address>
						<ul>
							<li>Jl. R. Sukamto Nomor 65 F.G</li>
							<li>RT 001, RW 001</li>
							<li>Kec. Kemuning</li>
							<li>Kota Palembang, Sumatera Selatan</li>

						</ul>
					</address>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<br>
	<!-- Copyright -->
	<div class="d-flex justify-content-center text-white">
		<p>© 2025 <a class="text-white" href="/">PT. Dream Tours & Travel</a>. All Rights
			Reserved </p>
	</div>

	<!-- //Copyright -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<a href="https://api.whatsapp.com/send?phone=628119333000" class="float" target="_blank">
		<i class="fa fa-whatsapp my-float"></i>
	</a>

</div>